<!DOCTYPE html>
{% load static %}
<html>
    <head>
        
        {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
        {% endblock %}
        <title>SVAT</title>
    </head>

    <body>

        <header>


            <div>
                {% if user.is_superuser %}
                    <a class='logobutton' href="{% url 'annotation:index' %}">Surgical Video Annotation Tool</a>
                    <a class='topbutton' href="{% url 'logout' %}">Log Out</a>
                    <a class='topbutton' href="/admin">Admin Page</a>
                    <a class='topbutton' href="{% url 'annotation:index' %}">Annotation Page</a>
                {% elif user.is_authenticated %}
                    <a class='logobutton' href="{% url 'annotation:index' %}">Surgical Video Annotation Tool</a>
                    <a class='topbutton' href="{% url 'logout' %}">Log Out</a>
                    <a class='topbutton' href="{% url 'annotation:index' %}">Annotation Page</a>

                {% else %}
                    <a class='logobutton' >Surgical Video Annotation Tool</a>
                    <a class='topbutton' href="{% url 'login' %}">Log In</a>
                    <a class='topbutton' href="{% url 'accounts:signup' %}">Sign Up</a>
                {% endif %}
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <footer>

        </footer>
    </body>
</html>