{% load static %}
<!DOCTYPE html>

<html>
    <head>
        
        <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    </head>

    <body>

        <video
            id="my-video"
            class="video-js"
            controls
            preload="auto"
            width="640"
            height="264"
            data-setup="{}"
        >
            <source src='{{MEDIA_URL}}/video.mp4' type="video/mp4" />
            <!-- <source src="MY_VIDEO.webm" type="video/webm" /> -->
            <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
            >
            </p>
        </video>

        <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>


        <div>
            {% if annotation_list %}
            <ul>
                {% for annotation in annotation_list %}
                <li>{{error}} {{annotation.annotation_start_time}}</li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No annotations recorded. </p>
            {% endif %}
        </div>

        <div>
            {% if video_list %}
            <ul>
                {% for video in video_list %}
                <li>{{video}}</li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No videos uploaded. </p>
            {% endif %}
        </div>

        <div>
        {% if annotation_model_form %}
        {% if error_message %} <p><strong>{{error_message}}</strong></p> {% endif %}
        {% if annotation_errors %}{{annotation_errors}} {% endif %}
        <form action="{% url 'annotation:add_annotation' %}", method="post">
            {% csrf_token %}
            {{annotation_model_form.non_field_errors}}
            {{annotation_model_form}}
            <input type='submit' value='Add Annotation'/>
        </form>
        {% endif %}
        </div>

        <div>
            {% if video_model_form %}
            {% if error_message %} <p><strong>{{error_message}}</strong></p> {% endif %}
            {% if video_errors %}{{video_errors}} {% endif %}
            <form action="{% url 'annotation:add_video' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{video_model_form.non_field_errors}}
                {{video_model_form.as_p}}
                <input type='submit' value='Add Video'/>
            </form>
            {% endif %}
            </div>


    </body>
</html>