{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <script src="{% static 'js/videoplayer.js' %}"></script>
        <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
        <script src="{% static 'js/annotation.js' %}"></script>
    </head>

    <body>

        {% if available_video %}
            <video
                id="my-video"
                class="video-js"
                controls
                preload="auto"
                autoplay
                width="640"
                height="264"
                data-setup="{}"
            >
                <source src='{{MEDIA_URL}}{{available_video}}' type="video/mp4" />
                <!-- <source src="MY_VIDEO.webm" type="video/webm" /> -->
                <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                    >supports HTML5 video</a
                >
                </p>
            </video>
            <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
            <script>
                var myPlayer = videojs('my-video');
                myPlayer.currentTime(parseFloat("{{available_video.video_timestamp}}"));
            </script>
        {% endif %}
            

        <div>
            {% if annotation_list %}
            <ul>
                {% for annotation in annotation_list %}
                <li>{{error}} {{annotation.annotation_text}} {{annotation.annotation_timestamp}}</li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No annotations recorded. </p>
            {% endif %}
        </div>

        <div>
            {% if video_list %}
            <ul>
                {% for video in video_list %}
                <!-- <li>{{video}}</li> -->
                {% endfor %}
            </ul>
            {% else %}
                <p>No videos uploaded. </p>
            {% endif %}
        </div>

        <div>
        {% if annotation_model_form %}
        {% if error_message %} <p><strong>{{error_message}}</strong></p> {% endif %}
        {% if annotation_errors %}{{annotation_errors}} {% endif %}
        <form action="{% url 'annotation:add_annotation' %}", method="post">
            {% csrf_token %}
            {{annotation_model_form.non_field_errors}}
            <div class="fieldWrapper">
                {{ annotation_model_form.annotation_video.errors }}
                {{available_video}}
                <input type="hidden" name="annotation_video" id="id_annotation_video" value="1">
                <!-- {{ annotation_model_form.annotation_video }} -->
            </div>
            <div class="fieldWrapper">
                {{ annotation_model_form.annotation_text.errors }}
                <label for="{{ annotation_model_form.annotation_text.id_for_label }}">Annotation text:</label>
                {{ annotation_model_form.annotation_text }}
            </div>
            <div class="fieldWrapper">
                {{ annotation_model_form.annotation_detail.errors }}
                <label for="{{ annotation_model_form.annotation_detail.id_for_label }}">Annotation detail:</label>
                {{ annotation_model_form.annotation_detail }}
            </div>
            <div class="fieldWrapper">
                {{ annotation_model_form.annotation_timestamp.errors }}
                <!-- <label for="{{ annotation_model_form.annotation_timestamp.id_for_label }}"></label> -->
                <input type="hidden" name="annotation_timestamp" id="id_annotation_timestamp">
            </div>
            <!-- <script type="text/javascript">
                console.log("{{available_video}}")
                document.getElementById('id_annotation_video').value = "{{available_video}}";
            </script> -->
            <input type='submit' value='Add Annotation' onclick="timestamp()"/>
            
        </form>
        {% endif %}
        </div>


            
        <div>
            {% if video_model_form %}
            {% if error_message %} <p><strong>{{error_message}}</strong></p> {% endif %}
            {% if video_errors %}{{video_errors}} {% endif %}
            <form action="{% url 'annotation:add_video' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{video_model_form.non_field_errors}}
                <div class="fieldWrapper">
                    {{ video_model_form.video.errors }}
                    <label for="{{ video_model_form.video.id_for_label }}">Video:</label>
                    {{ video_model_form.video }}
                </div>
                <div class="fieldWrapper">
                    {{ video_model_form.video_timestamp.errors }}
                    <input type="hidden" name="video_timestamp" id="id_video_timestamp" value=0>
                </div>
                <!-- {{video_model_form.as_p}} -->
                <input type='submit' value='Add Video'/>
            </form>
            {% endif %}
            </div>


    </body>
</html>